<!DOCTYPE html>
<html>
<head>
  <title>Ins</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="header-left">
      <h2><%= link_to "Instagram", root_path %></h2>
    </div>
    <div class="header-right">
      <ul>
        <li><%= link_to "Mypage", user_path(current_user.id) %></li>
      </ul>
    </div>
  </header>

<%= yield %>

</body>
</html>
